/*********
 * panel *
 *********/
#panel_window {
    background-color: transparent;
    color: white;
    font: bold;
    text-shadow: 0 1px alpha(black, 0.5);
    icon-shadow: 0 1px alpha(black, 0.5);
}

#panel_window .menubar,
#panel_window .menubar > .menuitem {
    background-color: transparent;
    color: white;
}

#panel_window .menubar .menuitem {
    font: bold;
    text-shadow: 0 1px alpha(black, 0.5);
    icon-shadow: 0 1px alpha(black, 0.5);
}

#panel_window .menubar .menuitem:insensitive {
    color: alpha(white, 0.7);
    text-shadow: none;
}

#panel_window .menubar .menu .menuitem {
    font: normal;
    text-shadow: none;
}

/****************
 * login window *
 ****************/
#login_window,
#restart_dialog,
#shutdown_dialog {
    border-style: none;
    border-radius: 5px;
    background-color: @lightdm_bg_color;
    color: @lightdm_fg_color;

    /* draw border using box-shadow */
    box-shadow: inset 1px 0 shade(@lightdm_bg_color, 0.6),
                inset -1px 0 shade(@lightdm_bg_color, 0.6),
                inset 0 1px shade(@lightdm_bg_color, 0.6),
                inset 0 -1px shade(@lightdm_bg_color, 0.6);
}

#login_window GtkComboBox .button,
#login_window GtkComboBox .button:focus,
#login_window GtkComboBox .button:hover,
#login_window GtkComboBox .button:active {
    padding: 0;
    background: none;
    border-style: none;
}

#login_window #user_combobox {
    color: @lightdm_fg_color;
    font: Raleway 24px;
}

#login_window #user_combobox .arrow {
    color: mix(@lightdm_fg_color, @lightdm_bg_color, 0.5);
}

#login_window .entry {
    padding: 3px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: shade(@lightdm_bg_color, 0.8);
    border-radius: 3px;
    background-color: @lightdm_bg_color;
    background-image: none;
                                      
    box-shadow: inset 1px 0 alpha(@dark_shadow, 0.10),
                inset 0 1px alpha(@dark_shadow, 0.12),
                inset -1px 0 alpha(@dark_shadow, 0.10);
}

#login_window .entry:focus,
#login_window .entry:hover {
    border-color: shade(@lightdm_bg_color, 0.6);
}

#login_window .button,
#restart_dialog .button,
#shutdown_dialog .button {
    padding: 3px 15px;
    border-width: 1px;
    border-color: shade(@lightdm_bg_color, 0.8);
    border-radius: 3px;
    background-color: @lightdm_bg_color;
    background-image: none;
                                      
    box-shadow: inset 1px 0px alpha(@light_shadow, 0.1),
                inset -1px 0px alpha(@light_shadow, 0.1),
                inset 0px 1px alpha(@light_shadow, 0.1),
                inset 0px -1px alpha(@light_shadow, 0.1);
}

#login_window .button:hover,
#restart_dialog .button:hover,
#shutdown_dialog .button:hover {
    background-color: shade(@lightdm_bg_color, 1.1);
}

#user_image {
    padding: 1px;

    /* draw border using box-shadow */
    box-shadow: inset 1px 0 shade(@lightdm_bg_color, 0.6),
                inset -1px 0 shade(@lightdm_bg_color, 0.6),
                inset 0 1px shade(@lightdm_bg_color, 0.6),
                inset 0 -1px shade(@lightdm_bg_color, 0.6);
}

/******************
 * default button *
 ******************/
#login_window .button.default,
#restart_dialog .button.default,
#shutdown_dialog .button.default,
#login_window .button:focus,
#restart_dialog .button:focus,
#shutdown_dialog .button:focus {
    border-color: shade(@theme_selected_bg_color, 0.8);
}

/****************
 * login button *
 ****************/
#login_button.button {
    border-color: shade(@theme_selected_bg_color, 0.8);
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

#login_button.button:hover {
    background-color: shade(@theme_selected_bg_color, 1.1);
}

/*******************
 * shutdown button *
 *******************/
#shutdown_button.button {
    border-color: shade(@error_bg_color, 0.8);
    background-color: @error_bg_color;
    color: @error_fg_color;
}

#shutdown_button.button:hover {
    background-color: shade(@error_bg_color, 1.1);
}

/******************
 * restart button *
 ******************/
#restart_button.button {
    border-color: shade(@warning_bg_color, 0.8);
    background-color: @warning_bg_color;
    color: @warning_fg_color;
}

#restart_button.button:hover {
    background-color: shade(@warning_bg_color, 1.1);
}
